extends layout

block content
    h1 Users

    if users.length
        p Here are the current users:
        ul.users
            for user in users
                li.user
                    a(href='/users/#{user.username}') #{user.username}
    else
        p There are no users currently.